*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2c2b2b;

}

.container{
    display: flex;
  height: 95vh; /* Обязательно задаём высоту контейнера */
  justify-content: center;
  align-items: center;
}

.logo{
}